body {
    background: #272822;
    padding: 50px;

    color: #f8f8f2;
    font-family: arial;
    font-variant: small-caps;
    font-size: 16px;

    margin: 0;
    padding: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-top: 5px;
    list-style: none;
}

ul li a {
    padding: 0;
}

ul li a:visited {
    color: #BB264E;
}

ul li a:hover {
    color: #937ed9;
}

h1 {
    color: #BB264E;
    font-size: 30px;
    border-bottom: 3px solid #454640;
    padding-left: 10px;
}

p {
    max-width: 800px;

    text-align: justify;
}

a {
    color: #f8f8f2;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: none;
}

a:hover {
    color: #937ed9;
}
